/* TODO: Minimize CSS: https://webpack.js.org/plugins/mini-css-extract-plugin/#minimizing-for-production */

* {
    font-family: sans-serif;
}

#svg-puzzle {
    /* TODO: Make this responsive. */
    max-width: 100vw;
    max-height: 100vh;
}

#svg-puzzle>path {
    transition: transform 0.125s linear, filter 0.125s;
    stroke-width: 0.025;
}

#svg-puzzle>path.dragging {
    filter: contrast(1.5);
}

#svg-puzzle>path.shadowGoal {
    filter: opacity(0.25);
}

.puzzle-string {
    font-family: monospace;
}