* {
    font-family: sans-serif;
}

#svg-puzzle {
    /* TODO: Make this responsive. */
    max-width: 100vw;
    max-height: 100vh;
}

#svg-puzzle>path {
    stroke: black;
    stroke-width: 0.025;
    transition: transform 0.125s linear;
}